services:
  - type: web
    name: restaurant-menu-optimizer
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    plan: free
    autoDeploy: false
